<!-- главный экран -->

<section class="site-section introduction">
  <div class="container introduction-wrap">
    <div class="introduction-content">
      <h1 class="introduction-content__title title-one">A Child Is An <br> Uncut Diamond</h1>
      <p class="introduction-content__par">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="#/" class="main-btn">Learn More</a>
    </div>
    
    <div class="introduction-bg">
      <div class="introduction-pic">
        <img src="assets/img/bgmain.svg" alt="" class="introduction__pic">
      </div>
    </div>
  </div>
</section>

<!-- триггер -->

<section class="site-section trigger">
  <div class="container trigger-wrap">
    <div class="trigger-heading">
      <h2 class="trigger-heading__title title-one">Together To <br>Help The World Better!</h2>
      <p class="trigger-heading__par">Please help us change lives around the world.</p>
    </div>
    <a href="#/" class="trigger-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126 126"><defs><style>.a{fill:rgba(255,255,255,0.76);opacity:0.68;}.b{fill:#fff;}.c{fill:#bf3fa2;}</style></defs><g transform="translate(-1218 -808)"><circle class="a" cx="63" cy="63" r="63" transform="translate(1218 808)"/><circle class="b" cx="47.333" cy="47.333" r="47.333" transform="translate(1234 824)"/><path class="c" d="M734.5,1254.5l17.241,10.607L734.5,1275.38Z" transform="translate(538.5 -393.5)"/></g></svg>
    </a>
  </div>
</section>

<!-- о нас -->

<section class="site-section about">
  <div class="container">
    <div class="about-help">
      <div class="about-help-icon">
        <img src="assets/img/bgsecond.svg" alt="" class="about-help-icon__bg">
      </div>
      <div class="about-help-content">
        <p class="about-help-content__hand">We’re Helping Hand</p>
        <h2 class="about-help-content__title title-second">On 80,000 Children</h2>
        <p class="about-help-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <a href="#/" class="main-btn">Learn More</a>
      </div>
    </div>

    <div class="about-carousel owl-carousel owl-theme about-box">

      <div class="about-box-item about-item">
        <div class="about-items-icon icon--heart"></div>
        <h3 class="about-items__title title-third">Send Donation</h3>
        <p class="about-item__text">See how you can make a difference in families’ lives with just $6 a month.</p>
        <a href="#/" class="main-btn about-item__button">Learn More</a>
      </div>

      <div class="about-box-item about-item">
        <div class="about-items-icon icon--baby-boy"></div>
        <h3 class="about-items__title title-third">Send Donation</h3>
        <p class="about-item__text">See how you can make a difference in families’ lives with just $6 a month.</p>
        <a href="#/" class="main-btn about-item__button">Learn More</a>
      </div>

      <div class="about-box-item about-item">
        <div class="about-items-icon icon--peoplesay"></div>
        <h3 class="about-items__title title-third">Send Donation</h3>
        <p class="about-item__text">See how you can make a difference in families’ lives with just $6 a month.</p>
        <a href="#/" class="main-btn about-item__button">Learn More</a>
      </div>
    </div>

  </div>
</section>

<!-- компании -->

<section class="site-section campaing">
  <div class="container">
    <p class="site-section__announce">Campaing</p>
    <h2 class="title-second campaing__title">Here is our latest Campaign</h2>
    <div class="campaing-content">
      <div class="compaing-main">
        <div class="compaing-main__pic"></div>
        <div class="compaing-main-box">
          <div class="compaing-main-box-item">
            <p class="compaing-main-box__title">Goal</p>
            <p class="compaing-main-box__price">$20.000</p>
          </div>
          <div class="compaing-main-box-item">
            <p class="compaing-main-box__title">Raised</p>
            <p class="compaing-main-box__price">$7000</p>
          </div>
          <a href="#/" class="main-btn main-btn--smaller">Donate</a>
        </div>

        <div class="campaing-item">
          <div class="campaing-item-heading">
            <h4 class="campaing-item__title title-third">Build school <br> for poor children</h4>
            <p class="campaing-item__text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
          </div>
          <img src="assets/img/circle-main-left.svg" alt="" class="campaing-item__circle">
        </div>
      </div>

      <div class="compaing-right-box">
        <a href="#/" class="campaing-item campaing-item--left">
          <div class="campaing-item-heading campaing-item-heading--left">
            <h4 class="campaing-item__title title-third">Build school <br> for poor children</h4>
            <p class="campaing-item__text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
          </div>
          <img src="assets/img/circle-main-left.svg" alt="" class="campaing-item__circle">
        </a>
        <a href="#/" class="campaing-item campaing-item--left">
          <div class="campaing-item-heading campaing-item-heading--left">
            <h4 class="campaing-item__title title-third">Make The <br> World Green</h4>
            <p class="campaing-item__text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
          </div>
          <img src="assets/img/circle-sub-60.svg" alt="" class="campaing-item__circle">
        </a>
        <a href="#/" class="campaing-item campaing-item--left">
          <div class="campaing-item-heading campaing-item-heading--left">
            <h4 class="campaing-item__title title-third">Help Us Build <br> A New Church</h4>
            <p class="campaing-item__text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
          </div>
          <img src="assets/img/circle-sub-20.svg" alt="" class="campaing-item__circle">
        </a>
      </div>

    </div>
  </div>
</section>

<!-- команда -->

<section class="site-section team">
  <div class="container team-wrap">
    <div class="team-heading">
      <p class="site-section__announce">Team</p>
      <h2 class="team-heading__title title-second">Want to part of the Team</h2>
      <p class="team-heading__text p-normal">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, </p>
      <div class="team-heading-form">
        <input type="text" class="team-heading-form__input">
        <a href="#/" class="main-btn">send</a>
      </div>
    </div>
    <div class="team-img">
      <img src="assets/img/team.svg" alt="our team" class="team-img__pic">
    </div>
  </div>
</section>

<!-- отзывы -->

<section class="site-section reviews">
  <div class="container container-quotes">
    <h2 class="reviews__title title-second">What People Say ?</h2>
    <div class="reviews-carousel owl-carousel owl-theme">

      <div class="reviews-gallery-item">
        <p class="reviews-gallery__text p-normal">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
        <div class="reviews-person">
          <img src="assets/img/comment-1.png" alt="avatar" class="reviews-person__avatar">
          <div class="reviews-person-content">
            <p class="reviews-person__name">Olivar Oli</p>
            <p class="reviews-person__prof">CEO</p>
          </div>
        </div>
      </div>

      <div class="reviews-gallery-item">
        <p class="reviews-gallery__text p-normal">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
        <div class="reviews-person">
          <img src="assets/img/comment-1.png" alt="avatar" class="reviews-person__avatar">
          <div class="reviews-person-content">
            <p class="reviews-person__name">Olivar Oli</p>
            <p class="reviews-person__prof">CEO</p>
          </div>
        </div>
      </div>

      <div class="reviews-gallery-item">
        <p class="reviews-gallery__text p-normal">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
        <div class="reviews-person">
          <img src="assets/img/comment-1.png" alt="avatar" class="reviews-person__avatar">
          <div class="reviews-person-content">
            <p class="reviews-person__name">Olivar Oli</p>
            <p class="reviews-person__prof">CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>