
///////////////////////////////////////////
// главный экран
/////////////////////////////////////////// 

.introduction-wrap
  display: flex
  justify-content: space-between
  align-items: center
.introduction-content__title
  line-height: 1.6
  margin-top: 0
.introduction-content__par
  font-size: 18px
  padding-bottom: 20px

.introduction-bg
  width: 70%
  padding: 0 15px

@media (max-width: 775px)
  .introduction-bg
    display: none
@media (max-width: 480px)
  .introduction-content__title
    line-height: 1.2
///////////////////////////////////////////
// триггер
/////////////////////////////////////////// 

.trigger
  background: $gradient
.trigger-wrap
  display: flex
  justify-content: space-between
  align-items: center
  height: 225px
.trigger-heading
  color: #fff
  font-size: 18px
.trigger-heading__title
  color: #fff
  font-weight: 600
  line-height: 1.6
  margin-bottom: 5px
  margin-top: 0
.trigger-heading__par
  margin: 0
.trigger-icon
  height: 126px
  width: 126px
  transition: 0.3s
.trigger-icon:hover
  .a
    opacity: 0.5

@media (max-width: 720px)
  .trigger-heading__title
    font-size: 30px
  .trigger-heading__par
    font-size: 15px
  .trigger-icon
    height: 86px
    width: 86px
    padding: 10px
@media (max-width: 480px)
  .trigger-heading__title
    line-height: 1.2

///////////////////////////////////////////
// о нас
/////////////////////////////////////////// 

.about-help
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 50px
.about-help-icon
  width: 85%
  padding-right: 120px
.about-help-content__hand
  color: $p-color--lighter
  font-size: 24px
  margin: 0
.about-help-content__title
  margin: 0
.about-help-content__text
  padding: 50px 0

@media (max-width: 900px)
  .about
    padding-top: 60px
  .about-help-icon
    display: none
  .about-help-content__text
    padding: 30px 0
  
.about-box
  text-align: center

.about-item
  padding-top: 40px
  background-color: $gray
  border: 1px solid #EEEEEE
  position: relative
  height: 340px
  display: block
  margin-bottom: 40px
.about-item:hover
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.25)
  background-color: #fff
.about-items-icon
  height: 65px
  width: 65px
  background-size: contain
  background-repeat: no-repeat
  display: inline-block
.icon--heart
  background-image: url(img/heart.svg)
.icon--baby-boy
  background-image: url(img/baby-boy.svg)
.icon--peoplesay
  background-image: url(img/bg_peoplesay.svg)
.about-item__text
  padding: 0 50px
  color: $p-color

.about-item__button
  position: absolute
  bottom: -30px
  left: 0
  right: 0
  margin: 0 20%

///////////////////////////////////////////
// компании
/////////////////////////////////////////// 
.compaing-main
  max-width: 570px
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)

.compaing-main__pic
  width: 100%
  height: 270px
  background-image: url(img/campaing__soldier.jpg)
  background-size: cover
.campaing__title
  margin-top: 10px
  margin-bottom: 60px
.compaing-main-box
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 15px
  border-bottom: 1px solid #F5F5F5
.compaing-main-box-item
  display: flex
  flex-direction: column
  border-right: 1px solid #F5F5F5
  padding-right: 13%
.compaing-main-box__title
  margin: 0
  font-weight: 600
  color: $h-color
.compaing-main-box__price
  margin: 0
  color: $accent

.campaing-item
  display: flex
  justify-content: space-between
  padding: 25px
  align-items: center
.campaing-item-heading
  padding-right: 25px
.campaing-item__title
  margin: 0
  margin-bottom: 10px
.campaing-item__text
  margin: 0
  font-size: 14px
  color: $p-color
.campaing-item__circle
  height: 120px

.campaing-content
  display: flex
.compaing-right-box
  display: flex
  flex-direction: column
.campaing-item--left
  flex-direction: row-reverse
  border: 1px solid #F5F5F5
  transition: 0.3s
.campaing-item--left:hover
  background-color: $accent
  .campaing-item__title
    color: #fff
  .campaing-item__text
    color: #fff
.campaing-item-heading--left
  padding-right: 0
  padding-left: 25px

@media (max-width: 1300px)
  .campaing-content
    flex-direction: column
    justify-content: center
    margin: auto
  .compaing-right-box
    max-width: 570px

@media (max-width: 430px)
  .compaing-main-box-item
    padding-right: 9%
  .campaing-item__circle
    height: 90px
@media (max-width: 360px)
  .compaing-main-box-item
    padding-right: 10px
  .campaing-item
    flex-direction: column-reverse
  .campaing-item__circle
    margin-bottom: 15px

///////////////////////////////////////////
// команда
/////////////////////////////////////////// 

.team-wrap
  display: flex
  justify-content: space-between
  align-items: center
.team-heading
  width: 49%
.team-heading__title
  margin-top: 0
.team-heading__text
  margin-bottom: 40px
.team-img__pic
  width: 422px
  min-height: 222px

@media (max-width: 705px)
  .team-img__pic
    display: none
  .team-heading
    width: 100%